page {
  background: #f2f2f2;
}
.top {
  height: 270rpx;
  background: #118fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userImg {
  height: 130rpx;
  width: 130rpx;
  border-radius: 20rpx;
  margin-bottom: 10rpx;
}
.userName {
  color: #fff;
  font-size: 30rpx;
  letter-spacing: 5rpx;
}
.bigRow {
  width: 90%;
  margin: 0 auto;
  padding: 20rpx 0;
}
.bigRow .sameRow {
  opacity: 0;
  transform: translateX(-30%);
}
.bigRow .sameRow:not(:last-child){
  margin-bottom: 30rpx;
}
.sameRow .title .van-divider {
  margin: 0!important;
}
.sameRow .content {
  background: #fff;
  border-radius: 20rpx;
  box-shadow: 0 0 10rpx #f2f2f2;
  padding:5rpx 10rpx;
  margin-top: 15rpx;
}
.sameRow .content .row {
  display: flex;
  height: 60rpx;
  align-items: center;
  padding-left: 15rpx;
}
.sameRow .content .row:not(:last-child) {
  border-bottom: 1px dashed #f2f2f2;
}
.sameRow .content .row .left {
  width: 50%;
  font-size: 14px;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sameRow .content .row .right {
  flex: 1;
}
.content .tr {
  display: flex;
  color: #888;
  font-size: 12px;
  height: 60rpx;
  align-items: center;
}
.content .tr .one {
  width: 400rpx;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content .tr .two {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sameRow .projectBox {
  padding: 5rpx 0;
  margin-top: 15rpx;
  font-size: 12px;
}
.content .projectBox .title .van-icon {
  position: relative;
  top: 5rpx;
  margin-right: 5rpx;
}
.content .projectBox .innerContent {
  padding: 10px 15px!important;
}
.content .projectBox .innerContent .jsz {
  display: flex;
}
.selfAssessment {
  font-size: 14px;
  color: #666;
  padding: 22rpx;
}
.selfAssessment .rowColo {
  display: flex;
  margin-bottom: 15rpx;
}
.selfAssessment .rowColo .txtF {
  flex: 1;
  flex-wrap: wrap;
}