<view class="top">
  <image class="userImg" src="/images/user.jpg"/>
  <text class="userName">{{config.name}}</text>
</view>
<view class="bigRow">
  <view class="sameRow" animation="{{animation}}">
    <view class="title">
      <van-divider dashed  contentPosition="left" customStyle="color: #1989fa;border-color: #1989fa;font-size: 14px;">掌握技能</van-divider>
    </view>
    <view class="content">
      <view class="row" wx:for="{{config.skillList}}" wx:key="index">
        <view class="left">{{ item.name }}</view>
        <view class="right">
          <van-progress percentage="{{ item.value }}" color="#7fdc50"/>
        </view>
      </view>
    </view>
  </view>
  <view class="sameRow two" animation="{{visible_0 && animation}}">
    <view class="title">
      <van-divider dashed  contentPosition="left" customStyle="color: #1989fa;border-color: #1989fa;font-size: 14px;">工作经历</van-divider>
    </view>
    <view class="content">
      <view class="tr" wx:for="{{config.jobList}}" wx:key="index">
        <text class="one">{{ item.company }}</text>
        <text class="two">{{ item.time }}</text>
      </view>
    </view>
  </view>
  <view class="sameRow three" animation="{{visible_1 && animation}}">
    <view class="title">
      <van-divider dashed  contentPosition="left" customStyle="color: #1989fa;border-color: #1989fa;font-size: 14px;">项目经验</van-divider>
    </view>
    <view class="projectBox">
      <van-collapse value="{{ activeNames }}" bind:change="onChange">
        <van-collapse-item content-class="innerContent" title="{{item.title}}" name="{{item.name}}" wx:for="{{config.projectList}}" wx:key="index">
          <view class="jsz" style="margin-bottom: 15rpx;display: flex;">
            <view style="color: #222; width: 150rpx;">技术栈: </view>
            <view style="flex: 1;flex-wrap: wrap;">{{ item.children[0].technical }}</view>
          </view>
          <view class="address" style="margin-bottom: 15rpx;display: flex;">
            <view style="color: #222; width: 150rpx;">项目地址:</view>
            <view style="flex: 1;flex-wrap: wrap;">{{ item.children[0].address }}</view>
          </view>
          <view class="zz" style="display: flex;">
            <view style="color: #222; width: 150rpx;">工作职责:</view>
            <view style="flex: 1;flex-wrap: wrap;">
              <view wx:for="{{item.children[0].jobZz}}" wx:key="index">
                {{ item }}
              </view>
            </view>
          </view>
        </van-collapse-item>
      </van-collapse>
    </view>
  </view>
  <view class="sameRow four" animation="{{visible_2 && animation}}">
    <view class="title">
      <van-divider dashed  contentPosition="left" customStyle="color: #1989fa;border-color: #1989fa;font-size: 14px;">自我评价</van-divider>
    </view>
    <view class="content selfAssessment">
      <view wx:for="{{config.selfAssessment}}" wx:key="index" class="rowColo">
        <van-icon name="smile" color="red" size="18" custom-style="width: 50rpx"/>
        <text class="txtF">{{ item }}</text>
      </view>
    </view>
  </view>
</view>