<view class="top">
  <image class="image" src="/images/jianchi.png"/>
  <view class="showInfo">
    <text class="txt">{{ config.name }}</text>
    <image class="userImg" src="/images/user.jpg"/>
  </view>
</view>
<view class="infoBox">
  <view class="bigRow">
    <van-skeleton title avatar row="4" wx:if="{{showLoading}}"/>
    <view class="sameBox" wx:else>
      <view class="title">联系方式</view>
      <view class="pro">
        <view class="sameRow">
          <text class="sm-title">姓名:</text>
          <text>{{ config.name }}</text>
        </view>
        <view class="sameRow">
          <text class="sm-title">手机号:</text>
          <text>{{ config.phone }}</text>
        </view>
        <view class="sameRow">
          <text class="sm-title">email:</text>
          <text>{{ config.email }}</text>
        </view>
        <view class="sameRow">
          <text class="sm-title">微信:</text>
          <text>{{ config.wechat }}</text>
        </view>
      </view>
    </view>
  </view>
  <view class="bigRow">
    <van-skeleton title avatar row="6" wx:if="{{showLoading}}"/>
    <view class="sameBox" wx:else>
      <view class="title">基本信息</view>
      <view class="pro">
        <view class="sameRow">
          <text class="sm-title">任职状态:</text>
          <text>{{ config.workingState }}</text>
        </view>
        <view class="sameRow">
          <text class="sm-title">工作经验:</text>
          <text>{{ config.workExperience }}</text>
        </view>
        <view class="sameRow">
          <text class="sm-title">学历:</text>
          <text>{{ config.education }}</text>
        </view>
        <view class="sameRow">
          <text class="sm-title">籍贯:</text>
          <text>{{ config.native }}</text>
        </view>
        <view class="sameRow">
          <text class="sm-title">现居:</text>
          <text>{{ config.currentAddress }}</text>
        </view>
      </view>
    </view>
  </view>
  <view class="bigRow">
    <van-skeleton title avatar row="5" wx:if="{{showLoading}}"/>
    <view class="sameBox" wx:else>
      <view class="title">求职意向</view>
      <view class="pro">
        <view class="sameRow">
          <text class="sm-title">求职岗位:</text>
          <text>{{ config.position }}</text>
        </view>
        <view class="sameRow">
          <text class="sm-title">薪资要求:</text>
          <text>{{ config.salary }}</text>
        </view>
        <view class="sameRow">
          <text class="sm-title">工作城市:</text>
          <text>{{ config.workCity }}</text>
        </view>
        <view class="sameRow">
          <text class="sm-title">工作性质:</text>
          <text>{{ config.jobNature }}</text>
        </view>
      </view>
    </view>
  </view>
</view>


