page {
  background: #f2f2f2;
}
.top {
  position: relative;
}
.image {
  width: 100%;
  height: 400rpx;
}
.showInfo {
  position: absolute;
  display: flex;
  right: 30rpx;
  bottom: -50rpx;
}
.showInfo .userImg {
  width: 100rpx;
  height: 100rpx;
  border-radius: 15rpx;
  border: 2rpx solid #fff;
}
.showInfo .txt {
  font-size: 35rpx;
  letter-spacing: 2rpx;
  font-weight: bold;
  padding-right: 15rpx;
}
.infoBox {
  padding: 20rpx 20rpx 0 20rpx;
}
.infoBox .bigRow {
  margin-bottom: 30rpx;
}
.infoBox .sameBox {
  background: #fff;
  border-radius: 15rpx;
  padding: 10rpx;
  color: #444;
  box-shadow: 0 0 15rpx #f2f2f2;
}
.infoBox .sameBox .title {
  font-size: 30rpx;
  height: 40rpx;
  display: flex;
  align-items: center;
}
.infoBox .sameBox .title::before {
  display: block;
  content: '';
  height: 30rpx;
  width: 8rpx;
  background: #118fff;
  border-radius: 20rpx;
  position: relative;
  top: 4rpx;
  margin-right: 10rpx;
}
.infoBox .sameBox .pro {
  padding: 15rpx 15rpx 0 15rpx;
}
.infoBox .sameBox .pro .sameRow {
  height: 60rpx;
  display: flex;
  align-items: center;
  font-size: 26rpx;
}
.infoBox .sameBox .pro .sameRow .sm-title{
  width: 200rpx;
}
.infoBox .van-skeleton__row, .van-skeleton__title {
  height: 16px;
  background-color: #e9e9e9!important;
}
